apollo4b_blue_evb
apollo4b_evb
apollo4b_evb_disp_shield
apollo4l_evb
apollo4p_blue_kbr_evb
apollo4p_blue_kxr_evb
apollo4p_evb
apollo4p_evb_disp_shield_rev2
apollo4l_blue_evb/projects/smartwatchs/mb8_smartwatch_gpu